$pgn-red: #DD4A1F;
$pgn-green: #A9CF37;
$pgn-blue: #72B5E3;
$pgn-grey: #404040;
$primary-color: $pgn-red;

$header-font-family: 'Quicksand', serif;
$header-font-weight: 700;
$body-font-family: 'Quicksand', serif;
$h2-font-size: rem-calc(40);

$secondary-color: white;
$secondary-button-bg-hover: $pgn-grey;

$topbar-height: 65px;
$topbar-bg-color: $pgn-grey !default;
$topbar-link-bg-hover: $pgn-green !default;