$pgn-red: rgba(221,74,31,1);
$pgn-green: rgba(169,207,55,1);
$pgn-blue: rgba(114,181,227,1);
$pgn-grey: rgba(64,64,64,1);
$primary-color: $pgn-red;

$header-font-family: 'Quicksand', serif;
$header-font-weight: 700;
$body-font-family: 'Quicksand', serif;
$h2-font-size: rem-calc(40);

$secondary-color: white;
$secondary-button-bg-hover: $pgn-grey;

$topbar-height: 65px;
$topbar-bg-color: transparent !default;
$topbar-link-bg-hover: white !default;
$topbar-dropdown-bg: transparent;
$topbar-link-color-hover: $pgn-grey;

$topbar-link-text-transform: uppercase;
$topbar-link-weight: 700;

$body-bg: $pgn-green;